:root{
    --color1: #65647C;
    --color2: #9796BA;
    --color3: #F0F0F0;
    --color4: #FFF;
    --color5: #dadada;
    font-size: 1vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--color3);
}




#form-login, #form-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: 20vw;
    margin: 5vw auto;
    border: 0.1vw solid var(--color2);
    border-radius: 1vw;
    background-color: var(--color4);
    padding: 1vw;
}

#form-cadastro{
    width: 30vw;
    height: 28vw;
}

#form-login > h1, #form-cadastro > h1 {
    font-size: 2rem;
    text-align: center;
}

#form-login > div, #form-cadastro > div{
    display: flex;
    flex-direction: column;
}

#form-login > div > label, #form-cadastro > div > label{
    margin: 0 0 0.2vw 0;
    font-size: 1rem;
    color: var(--color1);
}

#form-login > div > input, #form-cadastro > div > input{
    font-size: 1rem;
    outline: 0;
    border: 0.1vw solid var(--color2);
    border-radius: 0.5vw;
    color: black;
    padding: 0.3vw 0.5vw;
}

#form-login > div > input:focus, #form-cadastro > div > input:focus{
    background-color: var(--color3);
}

#form-login > input[type="submit"], #form-cadastro > input[type="submit"]{
    font-size: 1rem;
    padding: 0.3vw 0.5vw;
    margin: 0.5vw 0;
    border: 0.1vw solid var(--color2);
    background-color: var(--color3);
    outline: 0;
    cursor: pointer;
    border-radius: 0.5vw;
}

#form-login > input[type="submit"]:hover, #form-cadastro > input[type="submit"]:hover{
    background-color: var(--color5);
}

#form-login > div > p, #form-cadastro > div > p{
    font-size: 1rem;
    color: var(--color1);
    text-align: center;
}

#form-login > div > p > a{
    color: var(--color1);
    font-weight: bold;
    text-decoration: none;
}

#form-login > div > p > a:hover{
    text-decoration: underline;
}

#form-cadastro > div > #secao-gen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--color1);
    width: 80%;
    margin: 0 auto;
}

#form-cadastro > div > #secao-gen > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#form-cadastro > div > #secao-gen > div > label{
    margin: 0 0 0 0.4vw;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    height: 7.3vw;
    padding: 0 5%;
}

#logo{
    height: 100%;
    cursor: pointer;
}

#pesquisa{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2.9vw;
    width: 27vw;
    height: 2.2vw;
}

#barra-pesquisa{
    grid-area: 1 / 1 / 2 / 3;
    border-radius: 100px;
    border: 0;
    outline: 0;
    padding: 0 2.8vw 0 1vw;
    height: 2.1vw;
    font-size: 1rem;
}

#lupa{
    grid-area: 1 / 2 / 2 / 3;
    margin: auto;
    width: 2vw;
}

#conta-carrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 18vw;
}

#conta{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3vw 1fr;
    column-gap: 0.7vw;
}

#perfil{
    grid-area: 1 / 1 / 2 / 2;
    width: 3vw;
}

#conta > div{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boas-vindas{
    color: var(--color4);
    font-size: 1rem;
    letter-spacing: 0.05vw;
    cursor: default;
}

#carrinho-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 4.3vw;
    cursor: pointer;
}

#qtd-itens-car{
    position: absolute;
    top: 0.14vw;
    right: 0;
    background-color: #f00;
    color: var(--color4);
    border-radius: 50%;
    font-size: 0.91rem;
    min-width: 1.2vw;
    min-height: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrinho-icon-img{
    width: 3.1vw;
}

.icones{
    cursor: pointer;
}

#carrinho{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--color4);
    z-index: 1;
    transition: all 0.4s ease;
}

.carrinho-off{
    width: 0;
}

.carrinho-on{
    width: 23vw;
    box-shadow: 0 0 1000vw 1000vw #0000008f;
}

#c1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.6vw 1vw;
    background-color: var(--color5);
}

#titulo-carrinho{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color1);
}

#fecha-carrinho{
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer; 
    font-size: 1.8rem;
    color: var(--color1);
}

#c2{
    height: 100%;
    padding: 0.5vw 1vw;
}

#c2 > ul > li{
    list-style: none;
    margin: 1.2vw 0;
}

#vazio{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#vazio > h3{
    padding: 1vw 0;
}

.item{
    border: 0.1vw solid var(--color5);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 0.1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item > img{
    grid-area: 1 / 1 / 4 / 2;
    width: 100%;
    min-height: 100%;
}

.item > h3{
    grid-area: 1 / 2 / 2 / 4;
    font-size: 1.18rem;
}

.item > p{
    grid-area: 2 / 2 / 3 / 4;
    font-size: 1rem;
}

.item > h4{
    grid-area: 3 / 2 / 4 / 3;
    font-size: 1.08rem;
}

.item > span{
    grid-area: 3 / 3 / 4 / 4;
    text-align: right;
    padding: 0.2vw 0.8vw;
    cursor: pointer;
    font-size: 0.95rem;
}

.item > h3, .item > p, .item > h4{
    padding: 0.2vw 0;
}

#compra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 1.2vw;
    width: 91%;
    height: 7vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#compra > p{
    font-size: 1.4rem;
}

#compra > button{
    color: var(--color4);
    background-color: #1aae1a;
    border: 0;
    outline: 0;
    border-radius: 1vw;
    padding: 0.8vw;
    cursor: pointer;
    font-size: 1.12rem;
    width: 100%;
}

#compra > span{
    font-size: 1.12rem;
    cursor: pointer;
}

#banner{
    padding: 5% 0;
}

#hero{
    width: 100%;
}

#produtos{
    background-color: var(--color4);
    display: grid;
    grid-template-columns: 1fr 7fr;
}

#filtros{
    border-right: 0.1vw solid grey;
    padding: 1.4vw 1.1vw;
    font-size: 1rem;
}

#filtros > div{
    position: sticky;
    top: 1.4vw;
}

#filtros > div > ul{
    list-style: none;
    padding: 1.4vw 0;
    cursor: default;
}

#filtros > div > ul > li{
    padding: 0.5vw 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#filtros > div > ul > li > label{
    padding: 0 0 0 0.3vw;
}

input[type="checkbox"]{
    accent-color: var(--color1);
}

#valor-min-max{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5vw;
    column-gap: 0.45vw;
}

label[for="valor-min"]{
    grid-area: 1 / 1 / 2 / 2;
}

#valor-min{
    grid-area: 1 / 2 / 2 / 3;
}

label[for="valor-max"]{
    grid-area: 2 / 1 / 3 / 2;
}

#valor-max{
    grid-area: 2 / 2 / 3 / 3;
}

label[for="valor-min"], label[for="valor-max"]{
    display: flex;
    align-items: center;
}

#valor-min, #valor-max{
    padding: 0.4vw 0 0.4vw 0.5vw;
    font-size: 1rem;
    outline: 0;
    border: 0;
    background-color: var(--color3);
    width: 7.2vw;
}

#filtrar-btn{
    font-size: 1rem;
    width: 5vw;
    margin: 1.5vw auto;
    border: 0.1vw solid var(--color5);
    outline: 0;
    cursor: pointer;
    background-color: var(--color3);
    padding: 0.4vw 0.3vw;
}

#catalogo{
    padding: 2.3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.livro{
    width: 22vw;
    margin: 2vw 2vw 6vw 2vw;
    border: 0.1vw solid var(--color5);
    line-height: 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-livro{
    width: 100%;
}

div.info-livro{
    padding: 1vw;
}

div.info-livro > .titulo-livro{
    font-size: 1.3rem;
}

div.info-livro > .autor-livro{
    font-size: 1.1rem;
}

div.info-livro > .valor-livro{
    font-size: 1.65rem;
}

div.qtd-comp{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
    height: 3vw;
}

div.qtd-comp > .qtd-livros{
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    padding-left: 0.5vw;
    font-size: 1.1rem;
    outline: 0;
    border: 0.1vw solid #a1a1a1;
    border-right: 0;
    background-color: var(--color3);
    transition: 0.2s;
}

div.qtd-comp > .qtd-livros:hover{
    background-color: #dfdfdf;
}

div.qtd-comp > .comprar-btn{
    grid-area: 1 / 2 / 2 / 3;
    background-color: #62FF71;
    cursor: pointer;
    transition: 0.2s;
}

div.qtd-comp > .comprar-btn:hover{
    background-color: #61e26e;
}

div.esgotado{
    background-color: #ff7575;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

div.qtd-comp > .comprar-btn, div.esgotado{
    border: 0.1vw solid #a1a1a1;
    font-size: 1.25rem;
}

#voltar{
    border: 0;
    width: 100%;
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    height: 3vw;
    cursor: pointer;
    transition: 0.15s;
    font-size: 1rem;
}

#voltar:hover{
    background-color: #8d8bbd;
}

footer{
    text-align: center;
    font-size: 1.1rem;
    background-color: var(--color1);
    color: var(--color4);
    cursor: default;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#usuario-info{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#usuario-info > div{
    border: 0.1vw solid var(--color2);
    border-radius: 1vw;
    background-color: var(--color4);
}

#usuario-info > div > h2{
    text-align: center;
    background-color: var(--color2);
    border-radius: 0.7vw 0.7vw 0 0;
    padding: 0.5vw;
    font-size: 1.8rem;
}

#usuario-info > div > div{
    padding: 1vw 1.2vw;
    line-height: 1.5vw;
    font-size: 1.2rem;
}

#usuario-info > div > .center-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 0.9vw 0;
}

#usuario-info > div > .center-btn > button{
    border: 0; 
    border-radius: 1vw;
    padding: 0.2vw 1vw;
    font-size: 1.2rem;   
    background-color: var(--color3);
    cursor: pointer;
}